
button {
  padding: 8px 12px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}


button:hover {
  opacity: 0.85;
  transform: translateY(-1px);
}


.promote-btn { background-color: #4CAF50; color: #fff; }
.demote-btn { background-color: #FF9800; color: #fff; }
.delete-btn  { background-color: #F44336; color: #fff; }
.view-btn    { background-color: #2196F3; color: #fff; }

.upload-btn  { 
  background-color: #333; 
  color: #fff;
  width: 20%;

}


.button-container {
  text-align: center;
 
 
}

.button-container > * {
  display: inline-block;
}

.borderPrimaryButton{
    align-items: center;
}

.primary-button {
  width: 90%;
  padding: 0.75rem;
  background-color: #9D6FF2;
  color: white;
  border: none;
  border-radius: 1%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background-color: #1e40af;
}
.create-btn {
  background-color: #ff7f7f;
  color: white;
  padding: 20px 14px 50px 14px;
  width: 15.125rem;
  height: 1.8125rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.explore-btn {
  background-color: transparent;
  color: black;
  border: 2px solid #000000;
  padding: 19px 14px 19px 14px;
  font-size: 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 2px;
}

.settings-btn{
  width: 150px;
  background-color: #9D6FF2;
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 50px;
  
}
.settings-btn:hover{
  background-color: #1e40af;
}
.settingsBlock{
  display: block;
}

.capsule-view-button {
  background-color: rgba(135, 206, 235, 0.65);
  width: 50%;
  color: black;
  border: 1px solid black;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.capsule-view-button:hover {
  background-color: #9D6FF2;
}


.chatSendButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  height: 45px;

}

.chatSendButton:hover {
  background-color: #555;
  transform: translateY(-1px);
} 

/* .chatContainer button {
  
}

.chatContainer button:hover {
  background-color: #555;
  transform: translateY(-1px);
} */


.stopButton {
  margin-top: 100px;
  padding: 10px 20px;
  font-size: 16px;
}

.chatSendButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chatSendButton:hover {
  background-color: #0056b3;
}